<mat-card>
    <mat-card-content>
        <mat-toolbar color="warn">
            <div class="alert alert-success form-inline">
                <a class="badge badge-info badge-info-sm" href="/editarasignatura/0">Asignaturas<h4 class="btn btn-info btn-sm">+</h4></a>   
            </div>
        </mat-toolbar>
        <br>
        <div class="container col-md-12" style="scroll-behavior: smooth; scroll-margin-block-start:initial;">
        <table class="mat-elevation-z8 col-md-12">
            <thead>
                <tr>
                    <thead class="row">
                        <td class="col-md-1" ><b>Consecutivo</b></td>
                        <td class="col-md-2"><b>Descripcion</b></td>
                        <td class="col-md-2"><b>Creditos</b></td>
                        <td class="col-md-1"><b>Docente</b></td>
                        <td class="col-md-4"><b>Opcion</b></td>                 
                    </thead>
                </tr>
            </thead>
            <tbody>
                <tr class="row" *ngFor="let d of f" >
                    <td class="col-md-1">{{d.Id_Asignatura}}</td>
                    <td class="col-md-2">{{d.Descripcion}}</td>
                    <td class="col-md-2">{{d.Creditos}}</td>
                    <td class="col-md-1">{{d.Id_Usuario}}</td>
                    <td class="col-md-4 row">
                        <a class="btn btn-info btn-sm" routerLink="/editarasignatura/{{d.Id_Asignatura}}">Editar</a>
                        <button class="btn btn-warning btn-sm" (click)="Eliminar(d.Id_Asignatura)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </mat-card-content>
</mat-card>			