<mat-card>
    <mat-card-content>
        <div class="alert alert-success form-inline">
            <a class="badge badge-info" href="/editarusuario/0">
            Usuarios<h4 class="btn btn-info col-md-2">+</h4>
        </a>   
        </div>
        <br>
        <div class="container col-md-12" style="scroll-behavior: smooth; scroll-margin-block-start:initial;">
        <table class="mat-elevation-z8 col-md-12">
            <thead>
                <tr>
                    <thead class="row">
                        <td class="col-md-1" ><b>Consecutivo</b></td>
                        <td class="col-md-2"><b>Identificacion</b></td>
                        <td class="col-md-2"><b>Nombre Completo</b></td>
                        <td class="col-md-1"><b>Tipo de usuario</b></td>
                        <td class="col-md-2"><b>Fecha de registro</b></td>
                        <td class="col-md-4"><b>Opcion</b></td>                 
                    </thead>
                </tr>
            </thead>
            <tbody>
                <tr class="row" *ngFor="let p of f$|async" >
                    <td class="col-md-1">{{p.Id_Usuario}}</td>
                    <td class="col-md-2">{{p.Numero_Identificacion}}</td>
                    <td class="col-md-2">{{p.Nombre_Completo}}</td>
                    <td class="col-md-1">{{p.Tipo_Usuario}}</td>
                    <td class="col-md-2">{{p.Fecha}}</td>
                    <td class="col-md-4">
                        <a class="btn btn-info" routerLink="/editarusuario/{{p.Id_Usuario}}">Editar</a>
                        <button class="btn btn-warning" (click)="Eliminar(p.Id_Usuario)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </mat-card-content>
</mat-card>