<div class="container align-items-center col-md-10">
    <fieldset class="form-group table-bordered p-0" *ngIf="c!=undefined">
        <legend>Registro de usuarios</legend>
        <p>
            <mat-form-field class="col-md-12 p-0">
                <input matInput placeholder="Input" [(ngModel)]="c.Id_Usuario" class="col-md-8" placeholder="Consecutivo de usuario" disabled required minlength="1" maxlength="8">
            </mat-form-field>
        </p>
        <p class="col-md-12 p-0 table-bordered">
            <mat-form-field appearance="legacy" class="example-full-width" >
                <input matInput [(ngModel)]="c.Numero_Identificacion" class="col-md-8" placeholder="Numero de identificacion" required minlength="6" maxlength="8">
                <mat-label>Numero de identificacion</mat-label>
                <input matInput placeholder="Numero de Seguro Social">
                <mat-hint>Numero de identificacion</mat-hint>
            </mat-form-field>
        </p>
        <p class="col-md-12 p-0 table-bordered">
            <mat-form-field appearance="legacy" class="example-full-width" >
                <input matInput [(ngModel)]="c.Nombre_Completo" class="col-md-8" placeholder="Nombre completo" required minlength="4" maxlength="150">
                <mat-label>Nombre completo</mat-label>
                <input matInput placeholder="Nombre completo">
                <mat-hint>Nombre completo</mat-hint>
            </mat-form-field>
        </p>
        <p class="col-md-12 p-0 table-bordered">
            <mat-form-field appearance="fill"class="example-full-width" >
            <mat-label>Tipo de usuario</mat-label>
            <mat-select [(ngModel)]="c.Tipo_Usuario" required name="tipo" class="col-md-8" placeholder="Tipo de usuario">
                <mat-option *ngFor="let t of tipo" [value]="t.Id">
                {{t.Descripcion}}
                </mat-option>
            </mat-select>
            </mat-form-field>
        </p>
        <p class="col-md-12 p-0 table-bordered">
            <mat-form-field appearance="legacy" class="example-full-width" >
                <input matInput [(ngModel)]="c.Fecha" class="col-md-8" placeholder="Fecha de registro" required minlength="7" maxlength="15" >
                <mat-label>Fecha de registro</mat-label>
                <input matInput placeholder="Telefono">
                <mat-hint>Fecha de registro</mat-hint>
            </mat-form-field>
        </p>
        <div class="row align-items-start col-md-10">
            <button (click)="Guardar()" class="btn btn-info">Guardar</button>
            <a routerLink="/usuarios" class="btn btn-info">Volver</a>            
        </div>
        <table class="table table-striped table-bordered col-md-8" *ngIf="c!=undefined">
            <thead>
                <tr><legend>Registro de asignaturas</legend></tr>
                <tr class="table table-striped table-bordered col-md-8">
                    <td>Consecutivo</td>
                    <td>Descripcion</td>
                    <td><button mat-raised-button (click)="start()" color="primary">+</button></td>
                </tr>
            </thead>
            <tbody>
                <tr class="table table-striped table-bordered col-md-8" *ngFor="let n of k|async">
                    <td>{{ n.Id_Asignatura }}</td>
                    <td>{{ n.Descripcion }}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</div>
