USE [master]
GO
/****** Object:  Database [Prueba_Desarrollador]    Script Date: 2/03/2021 4:26:59 a. m. ******/
CREATE DATABASE [Prueba_Desarrollador]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Prueba_Desarrollador', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Prueba_Desarrollador.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Prueba_Desarrollador_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Prueba_Desarrollador_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Prueba_Desarrollador].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Prueba_Desarrollador]
GO
/****** Object:  Table [dbo].[Asignaturas]    Script Date: 2/03/2021 4:27:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asignaturas](
	[Id_Asignatura] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](250) NOT NULL,
	[Creditos] [int] NOT NULL,
	[Id_Usuario] [int] NOT NULL,
 CONSTRAINT [PK_Asignaturas] PRIMARY KEY CLUSTERED 
(
	[Id_Asignatura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inscripcion_Asignaturas]    Script Date: 2/03/2021 4:27:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inscripcion_Asignaturas](
	[Id_Asignatura] [int] IDENTITY(1,1) NOT NULL,
	[Id_Materia] [int] NOT NULL,
	[Id_Usuario] [int] NOT NULL,
 CONSTRAINT [PK_Inscripcion_Asignaturas] PRIMARY KEY CLUSTERED 
(
	[Id_Asignatura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 2/03/2021 4:27:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[Numero_Identificacion] [int] NOT NULL,
	[Nombre_Completo] [nvarchar](250) NOT NULL,
	[Tipo_Usuario] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Asignaturas]  WITH CHECK ADD  CONSTRAINT [FK_Asignaturas_Usuarios] FOREIGN KEY([Id_Usuario])
REFERENCES [dbo].[Usuarios] ([Id_Usuario])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Asignaturas] CHECK CONSTRAINT [FK_Asignaturas_Usuarios]
GO
ALTER TABLE [dbo].[Inscripcion_Asignaturas]  WITH CHECK ADD  CONSTRAINT [FK_Inscripcion_Asignaturas_Asignaturas] FOREIGN KEY([Id_Materia])
REFERENCES [dbo].[Asignaturas] ([Id_Asignatura])
GO
ALTER TABLE [dbo].[Inscripcion_Asignaturas] CHECK CONSTRAINT [FK_Inscripcion_Asignaturas_Asignaturas]
GO
ALTER TABLE [dbo].[Inscripcion_Asignaturas]  WITH CHECK ADD  CONSTRAINT [FK_Inscripcion_Asignaturas_Usuarios] FOREIGN KEY([Id_Usuario])
REFERENCES [dbo].[Usuarios] ([Id_Usuario])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Inscripcion_Asignaturas] CHECK CONSTRAINT [FK_Inscripcion_Asignaturas_Usuarios]
GO
USE [master]
GO
